{% extends "layout.html" %}

{% block body %}
    <p class="lead">Generate a playlist on your Spotify account from festival lineups.</p>
    <p class="lead">Choose from a list of festivals below</p>

    <form action="/generate" method="post">
        <div class="d-flex gap-5 justify-content-center">
            <select name='festival' class="dropdown-menu dropdown-menu-dark position-static d-grid gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px">
                <option disabled selected value="Festival">Festival</option>
                {% for festival in festivals %}
                    <option value="{{ festival }}">{{ festival }}</option>
                {% endfor %}
            </select>
        <br>
        <input class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit" value="Make me a playlist!" onclick="myfunc()">
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            function myfunc() {
                    window.alert("This process may take a few minutes.");
                }
        </script>
    </form>

{% endblock %}
