{% extends "layout.html" %}

{% block body %}
    <p class="lead">Generate a playlist on your Spotify account from festival lineups.</p>
    <p class="lead">Choose from a list of festivals below</p>

    <form action="/generate" method="post">
        <div class="d-flex gap-5 justify-content-center">
            <select name='festival' class="dropdown-menu dropdown-menu-dark position-static d-grid gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px">
                <option disabled selected value="Festival">Festival</option>
                {% for festival in festivals %}
                    <option value="{{ festival }}">{{ festival }}</option>
                {% endfor %}
            </select>
        <br>
        <input class="btn btn-lg btn-light fw-bold border-white bg-white submit" type="submit" value="Make me a playlist!" onclick="myFunction()">
        </div>
    </form>
    <script>
        function myFunction() {
            alert('Processing... This may take a few minutes. Click "OK" to continue.');
        }
    </script>
{% endblock %}
